<div *ngIf="errorMessage">
    <div class="alert alert-danger" role="alert">
        {{errorMessage}}
    </div>
</div>

<div *ngIf="!isOk">
    <form  class="was-validated" novalidate [formGroup]="forgotForm" (ngSubmit)="sendForgotMessage()">
        <div class="form-group">
            <label for="inputLogInNameOrEmail">Plese, enter your Log In Name or Email</label>
            <input type="password"
                   id="inputLogInNameOrEmail" 
                   class="form-control" 
                   formControlName="logInNameOrEmail" 
                   placeholder="Log In Name or Email" 
                   required>

            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please, enter your Log In Name or Email!
            </div>
        </div>

        <button type="submit" class="btn btn-block btn btn-success">
            <span *ngIf="spinning" 
                      class="spinner-border spinner-border customSpin" 
                      role="status" 
                      aria-hidden="true"></span>
                      Reset Password</button>
    </form>
</div>

<div *ngIf="isOk">
    <div class="alert alert-success text-center">
        Password reset link sent to your email!
    </div>
</div>

