<div>
    <form class="was-validated" novalidate [formGroup]="loginForm" (ngSubmit)="login()">
        <h3>Please sign in</h3>

        <div class="form-group">
            <label for="inputName">Name</label>
            <input type="string" 
                   id="inputName" 
                   class="form-control" 
                   formControlName="userName" 
                   placeholder="Enter unique Name" 
                   required>

            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please, enter the unique Name!
            </div>
        </div>

        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" 
                   id="inputPassword" 
                   class="form-control" 
                   formControlName="password" 
                   placeholder="Password" 
                   required
                   minlength="8">

            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please, enter the password!
            </div>
        </div>

        <button type="submit" class="btn btn-block btn btn-success">Sign up</button>
    </form>
</div>
