<div class="form-group text-center" *ngIf="comment">
  <h2>{{comment.title | uppercase}}</h2>
  
  <h4>{{comment.text}}</h4>
  <div class="form-group" *ngIf="isUpdating">
    <label>Text:</label>
    <textarea [(ngModel)]="comment.text" type="text" class="form-control" placeholder="Text"></textarea>
  </div>
  
  <div class="btn-group-vertical col-4" role="group">
    <button class="btn btn-warning btn-block" (click)="goBack()">Go back</button>
    <button *ngIf="!isUpdating && isAuthor && !isAdmin" class="btn btn-success btn-block" (click)="updating()">Edit</button>
    <button *ngIf="isUpdating && isAuthor && !isAdmin" class="btn btn-success btn-block" (click)="save()">Save</button>
      
    <button *ngIf="!isUpdating && isAuthor && !isAdmin" class="btn btn-danger" (click)="delete()">Delete</button>
  </div>

  <app-administration-comment-detail></app-administration-comment-detail>
</div>
