<div class="row">
    <div class="col col-lg-3">
        <div class="btn-group-vertical my-2 my-sm-0 btn-lg btn-block">
            <button class="btn btn-dark"  
            type="button" 
            data-toggle="collapse" 
            data-target="#collapseAdmins" 
            aria-expanded="false" 
            aria-controls="collapseAdmins">Admins</button>

            <button class="btn btn-dark"
            type="button" 
            data-toggle="collapse" 
            data-target="#collapseUsers" 
            aria-expanded="false" 
            aria-controls="collapseUsers">Users</button>
        </div>
    </div>

    <div class="col">
            <div class="collapse" id="collapseAdmins">
                <app-admin-administration></app-admin-administration>
            </div> 
            
            <div class="collapse" id="collapseUsers">
                <app-user-administration></app-user-administration>
            </div>    
    </div>
</div>
