<div *ngIf="response">
    <div class="form-group card" *ngFor="let ap of response.data">
        <div class="row no-gutters">
            <div class="col-md-4">
                <!-- <img src="..." class="card-img" alt="..."> -->
            </div>
            <div class="col">
                <div class="card-body">
                    <h4 class="card-title">{{ap.apartment.title}}</h4>
                    <h6 class="card-text">Country: {{ap.country.name}}</h6>
                    <h6 class="card-text">City: {{ap.address.city}}</h6>
                    <h6 class="card-text">Rooms: {{ap.apartment.numberOfRooms}}</h6>
                    <h6 class="card-text" *ngIf="ap.apartment.area">Area: {{ap.apartment.area}}</h6>
                    <p class="card-text">{{ap.apartment.price}} $</p>
                    <p class="card-text"><small class="text-muted">Lust time updated at {{ap.apartment.update | date: 'dd.MMM.yyyy'}}</small></p>
                </div>
            </div>
    
            <button class="btn btn-warning my-2 my-sm-0 btn-lg btn-block" 
                *ngIf="isLoggedIn"
                routerLink="/search/apartment/{{ap.apartment.id}}">Details</button>
        </div>
    </div>
</div>

<div *ngIf="response" class="form-group text-center">
    <div class="form-group btn-group col-4">
        <button class="btn btn-warning col-8" (click)="previousePage()">< Previous</button>
        <button class="btn btn-warning col-8" (click)="nextPage()">Next ></button>
    </div>
    <br>
    <div class="form-group btn-group mr-2">
        <div *ngFor="let page of pages">
            <button [ngClass]="page === response.pageNumber ? 'btn btn-success':'btn btn-warning'" 
                (click)="getPage(page)">{{page}}</button>
        </div>
    </div>
</div>

