<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand">RENT APARTMENTS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/search']">Search</a>
        </li>

        <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link"  [routerLink]="['/profile']">Profile</a>
        </li>
       
      </ul>


      <div class="btn-group " role="group" aria-label="Basic example">
        <a class="btn btn-success" *ngIf="!isLoggedIn" [routerLink]="['/login']" routerLinkActive="active">Login</a>
        <a class="btn btn-warning" *ngIf="!isLoggedIn" [routerLink]="['/register']" routerLinkActive="active">SingUp</a>
        <app-logout *ngIf="isLoggedIn"></app-logout>
      </div>
    </div>
</nav>
