<div class="row">
    <form [formGroup]="addressForm" (ngSubmit)="add()" #formDir="ngForm" novalidate>
        <div class="form-group">
            <label>Country</label>

            <select class="form-control" formControlName="countryId">
                <option value="">Choose country</option>
                <option *ngFor="let c of countries" value="{{c.id}}">{{c.name}}</option>
            </select>
        </div>
      
        <div class="form-group">
            <label>City</label>
    
            <input formControlName="city" type="text" class="form-control" placeholder="City">
        </div>

        <div>
            <label>Street</label>

            <input formControlName="street" type="text" class="form-control" placeholder="Street">      
        </div>

        <div>
            <label>Home</label>

            <input formControlName="home" type="text" class="form-control" placeholder="Home">      
        </div>

        <div>
            <label>Number Of Apartment</label>

            <input formControlName="numberOfApartment" type="number" class="form-control" placeholder="Number Of Apartment">      
        </div>
    </form>

    <form  [formGroup]="apartmentForm" (ngSubmit)="add()" #formDir="ngForm" novalidate>
        <div>
            <label>Title</label>

            <input formControlName="title" type="text" class="form-control" placeholder="Title"/>
        </div>
      
        <div>
            <label>Text</label>

            <input formControlName="text" type="text" class="form-control" placeholder="Text"/>
        </div>
      
        <div>
            <label>Area</label>

            <input formControlName="area" type="number" class="form-control" placeholder="Area"/>
        </div>
      
        <div>
            <label>Is Open?</label>

            <div class="form-check">
                <input formControlName="isOpen" type="boolean" class="form-check-input" type="radio" 
                    name="isOpen" id="true" value="true" checked>
                <label class="form-check-label" for="true">
                    Open
                </label>
            </div>
            <div class="form-check">
                <input formControlName="isOpen" type="boolean" class="form-check-input" type="radio" 
                    name="isOpen" id="false" value="false">
                <label class="form-check-label" for="false">
                    Close
                </label>
            </div>
        </div>
      
        <div>
            <label>Price</label>

            <input formControlName="price" type="number" class="form-control" placeholder="Price"/>
        </div>
      
        <div>
            <label>Number Of Rooms</label>

            <input formControlName="numberOfRooms" type="number" class="form-control" placeholder="Number Of Rooms"/>
        </div>
  
        <button class="btn btn-success my-2 my-sm-0 btn-lg btn-block" type="submit">Save</button>
    </form>

    <button class="btn btn-warning my-2 my-sm-0 btn-lg btn-block" (click)="goBack()">Go back</button>
</div>
  