<div>
    <div class="col">
        <div class="card-body">
            <h4 class="card-title">{{profile.data.identityUser.email}}</h4>
            <h6 class="card-text">Profile: {{profile.data.profile.id}}</h6>
            <p class="card-text"><small class="text-muted">Lust time updated at {{profile.data.profile.update}}</small></p>
        </div>
        <div class="btn-group" role="group">
            <button class="btn btn-success my-2 my-sm-0 btn-lg btn-block" (click)="addToAdmin()">Make Admin</button>
      
            <button class="btn btn-warning my-2 my-sm-0 btn-lg btn-block" (click)="removeFromAdmin()">Remove from Admin</button>
            <button class="btn btn-success my-2 my-sm-0 btn-lg btn-block" (click)="goBack()">Go back</button>
          
            <button class="btn btn-danger" (click)="delete()">Delete</button>
        </div>   
    </div>
</div>
