<div *ngIf="errorMessage">
    <div class="alert alert-danger" role="alert">
        {{errorMessage}}
    </div>
</div>

<div class="text-center" *ngIf="apartment">
    <div class="row" *ngIf="!isUpdating">
        <div class="col col-lg-3">
            <div class="btn-group-vertical my-2 my-sm-0 btn-lg btn-block">
                <button class="btn btn-dark"  
                type="button" 
                data-toggle="collapse" 
                data-target="#collapseUpload" 
                aria-expanded="false" 
                aria-controls="collapseUpload">Image uploading</button>
            </div>
        </div>
    
        <div class="col">
                <div class="collapse" id="collapseUpload">
                    <app-apartment-image-upload></app-apartment-image-upload>
                </div>    
        </div>
    </div>
    
    <div class="col-8 mx-auto" *ngIf="!isUpdating">
        <app-apartment-all-images-names></app-apartment-all-images-names>
    </div>

    <h2>{{apartment.apartment.title | uppercase}}</h2>
    <div *ngIf="isUpdating" class="was-validated">
        <label >Title:</label>
        <input [(ngModel)]="apartment.apartment.title" 
               placeholder="Title" 
               required 
               minlength="5" 
               maxlength="120"/>

        <div class="invalid-feedback">
            Title must have from 5 till 120 items!
        </div>
    </div>
  
    <h4>{{apartment.apartment.text}}</h4>
    <div *ngIf="isUpdating" class="was-validated">
        <label >Text:</label>
        <textarea class="col-8" 
                  [(ngModel)]="apartment.apartment.text" 
                  rows="3"
                  type="text" 
                  required 
                  minlength="5" 
                  maxlength="500"
                  ></textarea>

        <div class="invalid-feedback">
            Description must have from 5 till 500 items!
        </div>
    </div>
  
    <div *ngIf="apartment.apartment.area || isUpdating">
        <h4>Area: {{apartment.apartment.area}}</h4>
        <div *ngIf="isUpdating">
            <input [(ngModel)]="apartment.apartment.area" type="number" placeholder="Area"/>
        </div>
    </div>
 
    <div *ngIf="isUpdating">
        <label>Is Open?:</label>
        {{apartment.apartment.isOpen}}
        <div class="form-check">
            <input [(ngModel)]="apartment.apartment.isOpen" 
                class="form-check-input" 
                type="boolean" 
                type="radio" 
                name="isOpen" 
                id="true" 
                value="true" 
                checked/>
            <label class="form-check-label" for="true">Open</label>
        </div>
        <div class="form-check">
            <input [(ngModel)]="apartment.apartment.isOpen" 
                class="form-check-input" 
                type="boolean" 
                type="radio" 
                name="isOpen" 
                id="false" 
                value="false"/>
            <label class="form-check-label" for="false">Close</label>
        </div>
    </div>
 
    <h4>Price: {{apartment.apartment.price}}</h4>
    <div *ngIf="isUpdating" class="was-validated">
        <input [(ngModel)]="apartment.apartment.price"  
               type="number" 
               placeholder="Price"
               required 
               min="1"/>

        <div class="invalid-feedback">
            Price must be greater than 0!
        </div>
    </div>
  
    <h4>Number Of Rooms: {{apartment.apartment.numberOfRooms}}</h4>
    <div *ngIf="isUpdating" class="was-validated">
        <input [(ngModel)]="apartment.apartment.numberOfRooms"  
               type="number" 
               placeholder="Number Of Rooms"
               required min="1"/>

        <div class="invalid-feedback">
            Number of Rooms must be greater than 0
        </div>
    </div>
            
    <h2>Addpess</h2>
   
    <h4>Country: {{apartment.country.name}}</h4>
    <div *ngIf="isUpdating" class="col was-validated" required>
        <select class="form-control" [(ngModel)]="apartment.country.id">
            <option value="">Choose country</option>
            <option *ngFor="let c of countries" value="{{c.id}}">{{c.name}}</option>
        </select>

        <div class="invalid-feedback">
            Please, choose the country!
        </div>
    </div>
  
    <h4>City: {{apartment.address.city}}</h4>
    <div *ngIf="isUpdating" class="was-validated">
        <input [(ngModel)]="apartment.address.city" 
               placeholder="title"
               required/>

       <div class="invalid-feedback">
            Please, enter the city!
        </div>
    </div>
  
    <h4>Street: {{apartment.address.street}}</h4>
    <div *ngIf="isUpdating" class="was-validated">
        <input [(ngModel)]="apartment.address.street" 
               placeholder="title"
               required/>

        <div class="invalid-feedback">
            Please, enter the Street!
        </div>
    </div>
  
    <div *ngIf="apartment.address.home || isUpdating">
        <h4>Home: {{apartment.address.home}}</h4>
        <div *ngIf="isUpdating">
            <input [(ngModel)]="apartment.address.home" placeholder="Home"/>
        </div>
    </div>
  
    <div *ngIf="apartment.address.numberOfApartment || isUpdating">
        <h4>Number Of Apartment:{{apartment.address.numberOfApartment}}</h4>
        <div *ngIf="isUpdating">
            <input [(ngModel)]="apartment.address.numberOfApartment" type="number" placeholder="title"/>
        </div>
    </div>
  
    <div class="btn-group-vertical col-4 form-group" role="group">
        <button class="btn btn-warning" (click)="goBack()">Go back</button>
        <button *ngIf="!isUpdating" class="btn btn-success" (click)="updating()">Edit</button>

        <button *ngIf="isUpdating" class="btn btn-success" (click)="save()">
            <span *ngIf="spinning" 
                    class="spinner-border spinner-border customSpin" 
                    role="status" 
                    aria-hidden="true"></span>

            Save</button>
       
        <button *ngIf="!isUpdating" class="btn btn-danger" (click)="delete()">
            <span *ngIf="spinningDel" 
            class="spinner-border spinner-border customSpin" 
            role="status" 
            aria-hidden="true"></span>

            Delete</button>
    </div>

    <div class="col form-group" *ngIf="!isUpdating">
        <div class="form-group col">
            <button class="btn btn-dark btn-block"  
            type="button" 
            data-toggle="collapse" 
            data-target="#collapseAddComment" 
            aria-expanded="false" 
            aria-controls="collapseAddComment">New comment</button>
        </div>

        <div class="form-group col">
            <div class="collapse" id="collapseAddComment">
                <app-add-comment></app-add-comment>
            </div> 
        </div>

        <app-apartment-orders></app-apartment-orders>
     
        <app-apartment-comments></app-apartment-comments>
    </div>

</div>
