<div *ngIf="errorMessage">
    <div class="alert alert-danger" role="alert">
        {{errorMessage}}
    </div>
</div>

<!-- <div  class="form-group">
    <label class="text-danger">*</label> - required
    <form  [formGroup]="apartmentForm" (ngSubmit)="add()" #formDir="ngForm" novalidate>
      
        <div  class="form-group text-center">
            <label for="inputDescription" class="h4">Description</label><label class="h4 text-danger">*</label>

            <textarea formControlName="text" 
                      type="text" 
                      id="inputDescription"
                      class="form-control" 
                      placeholder="Text"></textarea>

            <div class="text-danger"
                 *ngIf="_text.invalid && 
                        (_text.touched || _text.dirty || errorMessage)">
                <small>Description must have from 5 till 500 items!</small>
            </div>
        </div>

        <form [formGroup]="addressForm" (ngSubmit)="add()" #formDir="ngForm" novalidate>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCountry">Country</label><label class="text-danger">*</label>
        
                    <select class="form-control" 
                            formControlName="countryId" 
                            id="inputCountry">
                        <option value="">Choose country</option>
                        <option *ngFor="let c of countries" value="{{c.id}}">{{c.name}}</option>
                    </select>
    
                    <div class="text-danger"
                         *ngIf="_country.invalid && 
                              (_country.touched || _country.dirty || errorMessage)">
                        <small>Please, choose the country!</small>
                    </div>
                </div>
              
                <div class="form-group col-md-6">
                    <label for="inputCity">City</label><label class="text-danger">*</label>
            
                    <input formControlName="city" 
                           type="text" 
                           class="form-control" 
                           placeholder="City" 
                           id="inputCity">
    
                    <div class="text-danger"
                         *ngIf="_city.invalid && 
                                (_city.touched || _city.dirty || errorMessage)">
                        <small>Please, enter the city!</small>
                    </div>
                </div>
            </div>
    
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputStreet">Street</label><label class="text-danger">*</label>
        
                    <input formControlName="street" 
                           type="text" 
                           id="inputStreet"
                           class="form-control" 
                           placeholder="Street">
                    
                    <div class="text-danger"
                         *ngIf="_street.invalid && 
                               (_street.touched || _street.dirty || errorMessage)">
                        <small>Please, enter the Street!</small>
                    </div>
                </div>
        
                <div class="form-group col-md-4">
                    <label for="inputHome">Home</label>
        
                    <input formControlName="home" 
                           type="text" 
                           id="inputHome"
                           class="form-control" 
                           placeholder="Home">      
                </div>

                <div class="form-group col-md-4">
                    <label for="inputNumberOfApartment">Number Of Apartment</label>
        
                    <input formControlName="numberOfApartment" 
                           type="number" 
                           id="inputNumberOfApartment"
                           class="form-control" 
                           placeholder="Number Of Apartment">      
                </div>            
            </div>
        </form>
    
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="inputArea">Area</label>

                <input formControlName="area" 
                       type="number" 
                       class="form-control" 
                       id="inputArea"
                       placeholder="Area"/>
            </div>
    
            <div class="form-group col-md-3">
                <label for="inputRooms">Number Of Rooms</label><label class="text-danger">*</label>

                <input formControlName="numberOfRooms" 
                       type="number" 
                       class="form-control" 
                       placeholder="Number Of Rooms"  
                       id="inputRooms"/>
    
                <div class="text-danger" 
                     *ngIf="_numberOfRooms.invalid && 
                            (_numberOfRooms.touched || _numberOfRooms.dirty || errorMessage)">
                    <small>Number of Rooms must be greater than 0</small>
                </div>
            </div>

            <div class="form-group col-md-3">
                <label for="inputPrice">Price ($)</label><label class="text-danger">*</label>

                <input formControlName="price" 
                       type="number" 
                       class="form-control" 
                       placeholder="Price" 
                       id="inputPrice"/>
    
                <div class="text-danger" 
                     *ngIf="_price.invalid && 
                           (_price.touched || _price.dirty || errorMessage)">
                    <small>Price must be greater than 0!</small>
                </div>
            </div>

            <div class="form-group col-md-3 text-center">
                <label>Is Open?</label>
                <div class="custom-control custom-radio">
                    <input  type="radio" 
                            value="true" 
                            formControlName="isOpen" 
                            name="isOpen"
                            id="customRadio1" 
                            class="custom-control-input"
                            checked>
                    <label class="custom-control-label" for="customRadio1">Open</label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input type="radio" 
                           value="false" 
                           formControlName="isOpen" 
                           name="isOpen"
                           id="customRadio2" 
                           class="custom-control-input">
                    <label class="custom-control-label" for="customRadio2">Close</label>
                </div>
            </div>            
        </div>
      
        <div class="btn-group my-2 my-sm-0 btn-lg btn-block" role="group">
            <button class="btn btn-success" type="submit">
                <span *ngIf="spinning" 
                class="spinner-border spinner-border customSpin" 
                role="status" 
                aria-hidden="true"></span>
    
                Save</button>
            <button class="btn btn-warning" (click)="goBack()">Go back</button>
        </div>
    </form>
</div> -->

<div *ngIf="apartment">
    <div class="row" *ngIf="!isUpdating">
        <div class="col col-lg-3">
            <div class="btn-group-vertical my-2 my-sm-0 btn-lg btn-block">
                <button class="btn btn-dark"  
                type="button" 
                data-toggle="collapse" 
                data-target="#collapseUpload" 
                aria-expanded="false" 
                aria-controls="collapseUpload">Image uploading</button>
            </div>
        </div>
    
        <div class="col">
                <div class="collapse" id="collapseUpload">
                    <app-apartment-image-upload></app-apartment-image-upload>
                </div>    
        </div>
    </div>
    
    <div class="col-8 mx-auto" *ngIf="!isUpdating">
        <app-apartment-all-images-names></app-apartment-all-images-names>
    </div>

    <div class="text-center">
        <label *ngIf="isUpdating">Title:</label><label *ngIf="isUpdating" class="text-danger">*</label>            
        <label class="h1">{{apartment.apartment.title | uppercase}}</label>
    </div>

    <div *ngIf="isUpdating" class="form-group text-center">
        <input [(ngModel)]="apartment.apartment.title" 
               #title="ngModel"
               placeholder="Title" 
               class="form-control"
               required 
               minlength="5" 
               maxlength="120"/>

        <div class="text-danger" 
             *ngIf="title.invalid && 
                   (title.touched || title.dirty || errorMessage)">
            <small>Title must have from 5 till 120 characters!</small>
        </div>
    </div>
  
    <div class="text-center">
        <label *ngIf="isUpdating">Description:</label><label *ngIf="isUpdating" class="text-danger">*</label>            
        <label class="h4">{{apartment.apartment.text}}</label>
    </div>

    <div *ngIf="isUpdating" class="form-group text-center">
        <textarea class="col-8" 
                  [(ngModel)]="apartment.apartment.text" 
                  #text="ngModel"
                  class="form-control"
                  rows="3"
                  type="text" 
                  required 
                  minlength="5" 
                  maxlength="500"
                  ></textarea>

        <div class="text-danger" 
             *ngIf="text.invalid && 
                   (text.touched || text.dirty || errorMessage)">
            <small>Description must have from 5 till 500 items!</small>
        </div>
    </div>
  
    <div *ngIf="apartment.apartment.area || isUpdating">
        <h4>Area: {{apartment.apartment.area}}</h4>
        <div *ngIf="isUpdating">
            <input [(ngModel)]="apartment.apartment.area" type="number" placeholder="Area"/>
        </div>
    </div>
 
    <div *ngIf="isUpdating">
        <label>Is Open?:</label>
        {{apartment.apartment.isOpen}}
        <div class="form-check">
            <input [(ngModel)]="apartment.apartment.isOpen" 
                class="form-check-input" 
                type="boolean" 
                type="radio" 
                name="isOpen" 
                id="true" 
                value="true" 
                checked/>
            <label class="form-check-label" for="true">Open</label>
        </div>
        <div class="form-check">
            <input [(ngModel)]="apartment.apartment.isOpen" 
                class="form-check-input" 
                type="boolean" 
                type="radio" 
                name="isOpen" 
                id="false" 
                value="false"/>
            <label class="form-check-label" for="false">Close</label>
        </div>
    </div>
 
    <h4>Price: {{apartment.apartment.price}}</h4>
    <div *ngIf="isUpdating" class="was-validated">
        <input [(ngModel)]="apartment.apartment.price"  
               type="number" 
               placeholder="Price"
               required 
               min="1"/>

        <div class="invalid-feedback">
            Price must be greater than 0!
        </div>
    </div>
  
    <h4>Number Of Rooms: {{apartment.apartment.numberOfRooms}}</h4>
    <div *ngIf="isUpdating" class="was-validated">
        <input [(ngModel)]="apartment.apartment.numberOfRooms"  
               type="number" 
               placeholder="Number Of Rooms"
               required min="1"/>

        <div class="invalid-feedback">
            Number of Rooms must be greater than 0
        </div>
    </div>
            
    <h2>Addpess</h2>
   
    <h4>Country: {{apartment.country.name}}</h4>
    <div *ngIf="isUpdating" class="col was-validated" required>
        <select class="form-control" [(ngModel)]="apartment.country.id">
            <option value="">Choose country</option>
            <option *ngFor="let c of countries" value="{{c.id}}">{{c.name}}</option>
        </select>

        <div class="invalid-feedback">
            Please, choose the country!
        </div>
    </div>
  
    <h4>City: {{apartment.address.city}}</h4>
    <div *ngIf="isUpdating" class="was-validated">
        <input [(ngModel)]="apartment.address.city" 
               placeholder="title"
               required/>

       <div class="invalid-feedback">
            Please, enter the city!
        </div>
    </div>
  
    <h4>Street: {{apartment.address.street}}</h4>
    <div *ngIf="isUpdating" class="was-validated">
        <input [(ngModel)]="apartment.address.street" 
               placeholder="title"
               required/>

        <div class="invalid-feedback">
            Please, enter the Street!
        </div>
    </div>
  
    <div *ngIf="apartment.address.home || isUpdating">
        <h4>Home: {{apartment.address.home}}</h4>
        <div *ngIf="isUpdating">
            <input [(ngModel)]="apartment.address.home" placeholder="Home"/>
        </div>
    </div>
  
    <div *ngIf="apartment.address.numberOfApartment || isUpdating">
        <h4>Number Of Apartment:{{apartment.address.numberOfApartment}}</h4>
        <div *ngIf="isUpdating">
            <input [(ngModel)]="apartment.address.numberOfApartment" type="number" placeholder="title"/>
        </div>
    </div>
  
    <div class="btn-group-vertical col-4 form-group" role="group">
        <button class="btn btn-warning" (click)="goBack()">Go back</button>
        <button *ngIf="!isUpdating" class="btn btn-success" (click)="updating()">Edit</button>

        <button *ngIf="isUpdating" class="btn btn-success" (click)="save()">
            <span *ngIf="spinning" 
                    class="spinner-border spinner-border customSpin" 
                    role="status" 
                    aria-hidden="true"></span>

            Save</button>
       
        <button *ngIf="!isUpdating" class="btn btn-danger" (click)="delete()">
            <span *ngIf="spinningDel" 
            class="spinner-border spinner-border customSpin" 
            role="status" 
            aria-hidden="true"></span>

            Delete</button>
    </div>

    <app-apartment-orders></app-apartment-orders>
     
    <app-apartment-comments></app-apartment-comments>

    <div class="col form-group" *ngIf="!isUpdating">
        <div class="form-group col">
            <button class="btn btn-dark btn-block"  
            type="button" 
            data-toggle="collapse" 
            data-target="#collapseAddComment" 
            aria-expanded="false" 
            aria-controls="collapseAddComment">New comment</button>
        </div>

        <div class="form-group col">
            <div class="collapse" id="collapseAddComment">
                <app-add-comment></app-add-comment>
            </div> 
        </div>

    </div>

</div>
