<div>
    <div *ngIf="ownComments">
        <div class="card card-body alert alert-secondary" *ngFor="let comment of ownComments">
            <a routerLink="/comment/{{comment.id}}">
                <div class="col-md-4">
                    <!-- <img src="..." class="card-img" alt="..."> -->
                </div>
                <div class="col">
                    <div class="card-body">
                        <h4 class="card-title">{{comment.title}}</h4>
                        <h6 class="card-text">{{comment.text}}</h6>
                        <p class="card-text"><small class="text-muted">Lust time updated at {{comment.update}}</small></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
