<div *ngIf="errorMessage">
    <div class="alert alert-danger" role="alert">
        {{errorMessage}}
    </div>
</div>

<div *ngIf="isAdded && !_comment.touched && !_comment.dirty" class="col-8">
    <div class="alert alert-success" role="alert">
        Your comment has been added!
    </div>
</div>

<div>
    <form [formGroup]="commentForm" (ngSubmit)="add()" #formDir="ngForm" novalidate>
        <div class="form-group">
            <textarea formControlName="text" 
                      type="text" 
                      class="form-control" 
                      placeholder="Text"></textarea>

            <div class="text-danger"
                 *ngIf="_comment.invalid && 
                        (_comment.touched || _comment.dirty || errorMessage)">
                Comment must have from 4 till 255 items!
            </div>
        </div>
        <button class="btn btn-success my-2 my-sm-0 btn-lg btn-block" type="submit">
            <span *ngIf="spinning" 
                    class="spinner-border spinner-border customSpin" 
                    role="status" 
                    aria-hidden="true"></span>

            Add comment</button>
    </form>
</div>
