<div class="form-group">
    <form [formGroup]="requestForm" #formDir="ngForm" novalidate>
        <div class="col-12">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Comments on the page</div>
                </div>
                <input type="number" formControlName="pageSize" class="form-control">

                <div class="input-group-append">
                    <button class="btn btn-success" (click)="getComments()">Show comments</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div *ngIf="response">
    <div class="form-group card" *ngFor="let comm of response.data">
        <a *ngIf="isAuthor(comm)" class="btn btn-light text-left" routerLink="/comment/{{comm.id}}">
            <div class="card-body">
                <h2 class="card-title">{{comm.title}}</h2>
                <h6>{{comm.text}}</h6> 
             </div>
        </a>
    </div>
</div>

<div *ngIf="response" class="form-group text-center">
    <div class="form-group btn-group col-4">
        <button class="btn btn-warning col-8" (click)="previousePage()">< Previous</button>
        <button class="btn btn-warning col-8" (click)="nextPage()">Next ></button>
    </div>
    <br>
    <div class="form-group btn-group mr-2">
        <div *ngFor="let page of pages">
            <button [ngClass]="page === response.pageNumber ? 'btn btn-success':'btn btn-warning'" 
                (click)="getPage(page)">{{page}}</button>
        </div>
    </div>
</div>
