<div *ngIf="errorMessage">
    <div class="alert alert-danger" role="alert">
        {{errorMessage}}
    </div>
</div>

<div *ngIf="spinning"  class="d-flex justify-content-center">
    <div class="spinner-border text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
</div>

<div *ngIf="apartment">
    <app-apartment-all-images-names></app-apartment-all-images-names>

    <div class="text-center shadow mb-3 bg-white rounded">
        <label class="h1">{{apartment.apartment.title | uppercase}}</label>
    </div>

    <div class="form-row shadow mb-3 bg-white rounded">
        <div class="form-group col-md-4" *ngIf="apartment.apartment.area">
            <label class="h4">Area: {{apartment.apartment.area}}</label>
        </div>

        <div class="form-group col-md-4">
            <label class="h4">Rooms: {{apartment.apartment.numberOfRooms}}</label>
        </div>

        <div class="form-group col-md-4">
            <label class="h4">Price: {{apartment.apartment.price}} $</label>
        </div>
    </div>
  
    <div class="form-row shadow mb-3 bg-white rounded">

        <div class="form-group col-md-12 text-center">
            <label class="h2">Addpess:</label>
        </div>
        <div class="form-group col-md-12">
            <label class="h4">Country: {{apartment.country.name}}</label>
        </div>
        <div class="form-group col-md-12">
            <label class="h4">City: {{apartment.address.city}}</label>
        </div>
        <div class="form-group col-md-12">
            <label class="h4">Street: {{apartment.address.street}}</label>
        </div>
        <div *ngIf="apartment.address.home" class="form-group col-md-12">
            <label class="h4">Home: {{apartment.address.home}}</label>
        </div>
        <div *ngIf="apartment.address.numberOfApartment" class="form-group col-md-12">
            <label class="h4">Apartmewnt № {{apartment.address.numberOfApartment}}</label>
        </div>
    </div>

    <div class="text-center shadow mb-3 bg-white rounded">
        <label class="h2">About the apartment:</label><br>            
        <label class="h4">{{apartment.apartment.text}}</label>
    </div>

    <div *ngIf="orderDto" class="alert alert-success">
        <h2 class="text-center">Information about order:</h2>
        <h4>Dates:</h4>
        <div *ngFor="let date of orderDto.dates">
          <h6>{{date  | date: 'dd MMMM yyyy'}}</h6> 
        </div>
  
        <h4>Total price: {{orderDto.totalCoast}} $</h4>   
    </div>
  
    <div class="btn-group my-2 my-sm-0 btn-lg btn-block" role="group">
        <button *ngIf="canMakeOrder && !orderDto" class="btn btn-success" 
        (click)="formAnOrder()">
        <span *ngIf="spinningOrder" 
        class="spinner-border spinner-border customSpin" 
        role="status" 
        aria-hidden="true"></span>

        Make Order</button>

        <button *ngIf="canMakeOrder && orderDto" class="btn btn-success" 
        (click)="makeOrder()">
        <span *ngIf="spinningOrder" 
        class="spinner-border spinner-border customSpin" 
        role="status" 
        aria-hidden="true"></span>

        Confirm Order</button>
  
        <button class="btn btn-warning" (click)="goBack()">Go back</button>
    </div>

    <div>
        <app-apartment-comments></app-apartment-comments>

        <div class="form-group col">
            <button class="btn btn-dark btn-block"  
            type="button" 
            data-toggle="collapse" 
            data-target="#collapseAddComment" 
            aria-expanded="false" 
            aria-controls="collapseAddComment">New comment</button>
        </div>

        <div class="form-group col">
            <div class="collapse" id="collapseAddComment">
                <app-add-comment></app-add-comment>
            </div> 
        </div>
    </div>
</div>
